$primary: #0046a0;
$secondary: #d83621;

$theme-color: (
  "primary": $primary,
  "secondary": $secondary
);

$font-size-base: 1rem;

$h7-font-size: $font-size-base * 0.75;

$h8-font-size: $font-size-base * 0.5;
